# compiled output
/api/dist
/api/build
/packages/*/dist
node_modules

# TypeScript cache
*.tsbuildinfo

# next.js
.next/
out/

# turbo
.turbo

# pnpm
.pnpm-store

# pwa
/web/public/sw.js
/web/public/workbox-*.js
/web/public/sw.js.map
/web/public/workbox-*.js.map

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# lockfiles (pnpm is canonical)
package-lock.json

# misc
.DS_Store
*.pem

# tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode/

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# runtime data
pids
*.pid
*.seed
*.pid.lock

# diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
