JWT_SECRET=
JWT_EXPIRES=30d

MONGODB_URI=

STRIPE_PRIVATE_KEY=

CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:3001

PORT=3001

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

DEFAULT_LOCALE=en

RESEND_API_KEY=
RESEND_FROM=