JWT_SECRET=""
JWT_EXPIRES=""

MONGODB_URI=""

STRIPE_PRIVATE_KEY=""

CLIENT_URL=""
BACKEND_URL=""

PORT=""

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""