NEXT_PUBLIC_DOMAINS=""
NEXT_PUBLIC_SERVER=""

NEXT_PUBLIC_NAME="Mamolio"
NEXT_PUBLIC_WEBSITE=""
NEXT_PUBLIC_CONTACT=""

NEXT_PUBLIC_HEADER_PRODUCT_ID=""
NEXT_PUBLIC_HEADER_PRODUCT_NAME=""
NEXT_PUBLIC_HEADER_PRODUCT_DESCRIPTION=""

NEXT_PUBLIC_REVIEWS="true" 
NEXT_PUBLIC_ACCOUNT="true"
NEXT_PUBLIC_ABOUT="true"